In [5]:
from geopy.geocoders import Nominatim
from shapely.geometry import Point, LineString
import geopandas as gpd
import folium 
import matplotlib.pyplot as plt
import random
import pandas as pd

In [10]:
df = pd.read_csv('/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/alaska-clean.csv')

In [12]:
df.head().shape

(5, 13)

In [13]:
df.head()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,0,Anchorage,287731,3581,32,540,621,2388,12261,1692,9038,1531,93
1,1,Bethel,6544,130,1,47,3,79,132,20,84,28,12
2,2,Bristol Bay Borough,852,2,0,0,0,2,20,5,8,7,0
3,3,Cordova,2150,0,0,0,0,0,7,1,6,0,0
4,4,Craig,1313,7,0,0,0,7,20,5,12,3,0

In [15]:
city_list = df['city']
city_list.shape

(26,)

In [16]:
def get_coordinates(city_list):
    """Takes a list of cities and returns a dictionary of the cities and their corresponding coordinates."""
    geolocator = Nominatim(user_agent='location script')
    dicto = {}
    
    for city in city_list:
        try:
            location = geolocator.geocode(city)
        except:
            raise Exception("There was a problem with the getCoordinates function")
        coordinate_values = (location.longitude, location.latitude)  #in geopandas, the x value corresponds to the longitude while the y value, the latitude(Just in case you were wondering why it was *location.longitude, location.latitude* and not the other way round )
        dicto[city] = coordinate_values #adding the coordinate pair to the dictionary at the end of every loop
    return dicto #finally retruns the dict

In [18]:
#getting coordinates for each city in the list
city_coords_dict = get_coordinates(city_list)
city_coords_dict

{'Anchorage': (-149.894852, 61.2163129),
 'Bethel': (-161.7558333, 60.7922222),
 'Bristol Bay Borough': (-156.8753867, 58.7370341),
 'Cordova': (-4.7760138, 37.8845813),
 'Craig': (-107.5464541, 40.5152491),
 'Dillingham': (-158.4575, 59.0397222),
 'Fairbanks': (-147.716675, 64.837845),
 'Haines': (-135.3430573, 59.0831232),
 'Juneau': (-134.419734, 58.3019496),
 'Kenai': (-151.258333, 60.5544444),
 'Ketchikan': (-131.6466819, 55.3430696),
 'Kodiak': (-152.4072222, 57.79),
 'Kotzebue': (-162.5977621, 66.8982057),
 'Nome': (-165.39879944316317, 64.4989922),
 'North Pole': (0.0, 90.0),
 'North Slope Borough': (-153.8220681, 69.5335129),
 'Palmer': (-149.1110902, 61.5995703),
 'Petersburg': (30.380619357025516, 59.917857350000006),
 'Seward': (-100.8928434, 37.1850331),
 'Sitka': (-135.337612, 57.0524973),
 'Skagway': (-135.3116103, 59.4556412),
 'Soldotna': (-151.065349, 60.4847228),
 'Unalaska': (-166.5272262, 53.8722824),
 'Valdez': (-146.3493638, 61.1299396),
 'Wasilla': (-149.4425638, 61.5824216),
 'Wrangell': (-132.3829431, 56.4706022)}

In [88]:
len(city_coords_dict)

26

In [44]:
gjson_cities = cities_gdf['geometry'].to_json()

my_map = folium.Map(tiles='cartodb positron')
cities = folium.features.GeoJson(gjson_cities)
my_map.add_child(cities)
my_map

In [45]:
df.head()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,0,Anchorage,287731,3581,32,540,621,2388,12261,1692,9038,1531,93
1,1,Bethel,6544,130,1,47,3,79,132,20,84,28,12
2,2,Bristol Bay Borough,852,2,0,0,0,2,20,5,8,7,0
3,3,Cordova,2150,0,0,0,0,0,7,1,6,0,0
4,4,Craig,1313,7,0,0,0,7,20,5,12,3,0

In [46]:
# crime rate per 100,000 is made as follows:
#(crime volume / population) * 100,000

#### 1. Add a total crime column

In [47]:
df['total_crime'] = df.sum(axis=1)

In [48]:
df.head()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson,total_crime
0,0,Anchorage,287731,3581,32,540,621,2388,12261,1692,9038,1531,93,319508
1,1,Bethel,6544,130,1,47,3,79,132,20,84,28,12,7081
2,2,Bristol Bay Borough,852,2,0,0,0,2,20,5,8,7,0,898
3,3,Cordova,2150,0,0,0,0,0,7,1,6,0,0,2167
4,4,Craig,1313,7,0,0,0,7,20,5,12,3,0,1371

#### 2. Making a new data frame that has only the neccesary columns for further operations

In [64]:
new_df = df.filter(['city','total_crime','population'], axis=1)
new_df

                   city  total_crime  population
0             Anchorage       319508      287731
1                Bethel         7081        6544
2   Bristol Bay Borough          898         852
3               Cordova         2167        2150
4                 Craig         1371        1313
5            Dillingham         2624        2405
6             Fairbanks        34722       31493
7                Haines         2492        2441
8                Juneau        34996       31810
9                 Kenai         8915        7862
10            Ketchikan         9250        8316
11               Kodiak         6439        5947
12             Kotzebue         3606        3272
13                 Nome         4232        3899
14           North Pole         2316        2111
15  North Slope Borough        10209        9801
16               Palmer         7956        7490
17           Petersburg         3394        3181
18               Seward         2978        2732
19                Sitka         8899        8512
20              Skagway         1199        1159
21             Soldotna         5087        4756
22             Unalaska         4627        4513
23               Valdez         3929        3816
24              Wasilla        12199       10915
25             Wrangell         2540        2489

### 3.  Add a column of the crime rate severity via (total crime / population)

In [83]:
new_df['crime_index'] = (new_df['total_crime'] / new_df['population'])

In [84]:
new_df.round(5)

                   city  total_crime  population  crime_index
0             Anchorage       319508      287731      1.11044
1                Bethel         7081        6544      1.08206
2   Bristol Bay Borough          898         852      1.05399
3               Cordova         2167        2150      1.00791
4                 Craig         1371        1313      1.04417
5            Dillingham         2624        2405      1.09106
6             Fairbanks        34722       31493      1.10253
7                Haines         2492        2441      1.02089
8                Juneau        34996       31810      1.10016
9                 Kenai         8915        7862      1.13394
10            Ketchikan         9250        8316      1.11231
11               Kodiak         6439        5947      1.08273
12             Kotzebue         3606        3272      1.10208
13                 Nome         4232        3899      1.08541
14           North Pole         2316        2111      1.09711
15  North Slope Borough        10209        9801      1.04163
16               Palmer         7956        7490      1.06222
17           Petersburg         3394        3181      1.06696
18               Seward         2978        2732      1.09004
19                Sitka         8899        8512      1.04547
20              Skagway         1199        1159      1.03451
21             Soldotna         5087        4756      1.06960
22             Unalaska         4627        4513      1.02526
23               Valdez         3929        3816      1.02961
24              Wasilla        12199       10915      1.11764
25             Wrangell         2540        2489      1.02049

#### Next step is to create a final dataframe with following columns:
#### LATITUDE, LONGTITUDE, CRIME_INDEX

In [147]:
#lets make the coordinates dictionary into dataframe and orient it for
#latitudes and longitudes
coords_df = pd.DataFrame.from_dict(city_coords_dict, orient='index')
coords_df

                              0          1
Anchorage           -149.894852  61.216313
Bethel              -161.755833  60.792222
Bristol Bay Borough -156.875387  58.737034
Cordova               -4.776014  37.884581
Craig               -107.546454  40.515249
Dillingham          -158.457500  59.039722
Fairbanks           -147.716675  64.837845
Haines              -135.343057  59.083123
Juneau              -134.419734  58.301950
Kenai               -151.258333  60.554444
Ketchikan           -131.646682  55.343070
Kodiak              -152.407222  57.790000
Kotzebue            -162.597762  66.898206
Nome                -165.398799  64.498992
North Pole             0.000000  90.000000
North Slope Borough -153.822068  69.533513
Palmer              -149.111090  61.599570
Petersburg            30.380619  59.917857
Seward              -100.892843  37.185033
Sitka               -135.337612  57.052497
Skagway             -135.311610  59.455641
Soldotna            -151.065349  60.484723
Unalaska            -166.527226  53.872282
Valdez              -146.349364  61.129940
Wasilla             -149.442564  61.582422
Wrangell            -132.382943  56.470602

In [155]:
coords_df.rename(columns={0: 'latitude', 1: 'longitude'}, inplace=True)

In [156]:
coords_df

                      longitude  longitude
Anchorage           -149.894852  61.216313
Bethel              -161.755833  60.792222
Bristol Bay Borough -156.875387  58.737034
Cordova               -4.776014  37.884581
Craig               -107.546454  40.515249
Dillingham          -158.457500  59.039722
Fairbanks           -147.716675  64.837845
Haines              -135.343057  59.083123
Juneau              -134.419734  58.301950
Kenai               -151.258333  60.554444
Ketchikan           -131.646682  55.343070
Kodiak              -152.407222  57.790000
Kotzebue            -162.597762  66.898206
Nome                -165.398799  64.498992
North Pole             0.000000  90.000000
North Slope Borough -153.822068  69.533513
Palmer              -149.111090  61.599570
Petersburg            30.380619  59.917857
Seward              -100.892843  37.185033
Sitka               -135.337612  57.052497
Skagway             -135.311610  59.455641
Soldotna            -151.065349  60.484723
Unalaska            -166.527226  53.872282
Valdez              -146.349364  61.129940
Wasilla             -149.442564  61.582422
Wrangell            -132.382943  56.470602

### join original dataframe row of 'crime_index' to new df of 'coordinates'

In [171]:
final_df = coords_df['crime_index'] = new_df['crime_index']

0     1.110440
1     1.082060
2     1.053991
3     1.007907
4     1.044174
5     1.091060
6     1.102531
7     1.020893
8     1.100157
9     1.133935
10    1.112314
11    1.082731
12    1.102078
13    1.085407
14    1.097110
15    1.041628
16    1.062216
17    1.066960
18    1.090044
19    1.045465
20    1.034513
21    1.069596
22    1.025260
23    1.029612
24    1.117636
25    1.020490
Name: crime_index, dtype: float64