In [1]:
from geopy.geocoders import Nominatim
from shapely.geometry import Point, LineString
import geopandas as gpd
import folium 
import matplotlib.pyplot as plt
import random
import pandas as pd

In [2]:
df = pd.read_csv('/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/wyoming-clean.csv')
pd.set_option('display.max_rows', 1000)

In [3]:
df.info

<bound method DataFrame.info of     Unnamed: 0          city  population  violent_crime  murder  rape  \
0            0         Afton        2017              0       0     0
1            1       Buffalo        4571              8       0     1
2            2        Casper       57752            169       2    58
3            3      Cheyenne       64501            220       5    43
4            4         Cody2        9865             17       0     7
5            5  Diamondville         756              1       0     0
6            6       Douglas        6294              8       1     0
7            7     Evanston2       11624             29       0    21
8            8    Evansville        2977              7       0     0
9            9      Gillette       31960             43       1     9
10          10      Glenrock        2544              3       0     0
11          11   Green River       11927             22       0     0
12          12      Greybull        1857              0       0     0
13          13         Hanna         766              0       0     0
14          14      Kemmerer        2745              1       0     0
15          15        Lander        7489              0       0     0
16          16       Laramie       32669             58       0    17
17          17          Lusk        1537              5       0     2
18          18         Mills        3975              3       0     0
19          19     Moorcroft        1068              1       0     0
20          20     Newcastle        3386             10       0     5
21          21   Pine Bluffs        1170              2       0     1
22          22       Powell2        6310             22       0    12
23          23       Rawlins        8589             26       0     4
24          24      Riverton       11004             38       3    19
25          25  Rock Springs       23092             44       0    14
26          26      Saratoga        1615              1       0     0
27          27      Sheridan       17895              9       0     4
28          28  Thermopolis2        2830             13       0     0
29          29    Torrington        6709             13       0     4
30          30     Wheatland        3544              7       0     1
31          31       Worland        5026              8       0     5

    robbery  assault  property_crime  burglary  larceny  gta  arson
0         0        0              12         1       11    0      0
1         0        7              52        13       30    9      0
2        18       91            1677       285     1271  121      2
3        27      145            1999       211     1613  175     11
4         1        9             107        10       94    3      2
5         0        1               1         0        1    0      0
6         1        6              87         8       72    7      0
7         1        7             183        22      152    9      1
8         3        4              73        13       52    8      0
9         0       33             626        62      529   35      2
10        0        3              20         1       18    1      0
11        0       22              97        11       84    2      0
12        0        0               5         1        4    0      0
13        0        0               1         0        0    1      0
14        0        1               8         0        8    0      0
15        0        0             253        15      226   12      0
16        2       39             318        50      252   16      6
17        0        3               8         0        7    1      0
18        2        1              71        22       39   10      4
19        0        1               4         2        1    1      0
20        0        5              49        12       31    6      0
21        1        0               5         2        3    0      0
22        0       10              76        12       58    6      2
23        1       21             122        31       84    7      0
24        1       15             426        52      332   42      6
25        1       29             309        36      259   14      1
26        0        1               6         1        4    1      0
27        0        5             369        75      278   16      3
28        0       13              34         7       22    5      0
29        1        8              48         8       40    0      0
30        0        6              72        24       45    3      0
31        0        3              36         6       30    0      0  >

In [4]:
df.head()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,0,Afton,2017,0,0,0,0,0,12,1,11,0,0
1,1,Buffalo,4571,8,0,1,0,7,52,13,30,9,0
2,2,Casper,57752,169,2,58,18,91,1677,285,1271,121,2
3,3,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11
4,4,Cody2,9865,17,0,7,1,9,107,10,94,3,2

In [5]:
import re

In [6]:


df['city'] = df['city'].str.replace('\d+', '').str.strip()
df['city'] = df['city'].str.replace(",", "")
df['city'] = df['city'].str.replace("-", "")
df['city'] = df['city'].str.replace("/", "")
city_list = df['city'].astype('str')

# text = 'Township'
# head, sep, tail = text.partition('Township')


city_list.shape
pd.get_option("display.max_rows", None)
df

<ipython-input-6-19d2e1bbc19e>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['city'] = df['city'].str.replace('\d+', '').str.strip()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,0,Afton,2017,0,0,0,0,0,12,1,11,0,0
1,1,Buffalo,4571,8,0,1,0,7,52,13,30,9,0
2,2,Casper,57752,169,2,58,18,91,1677,285,1271,121,2
3,3,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11
4,4,Cody,9865,17,0,7,1,9,107,10,94,3,2
5,5,Diamondville,756,1,0,0,0,1,1,0,1,0,0
6,6,Douglas,6294,8,1,0,1,6,87,8,72,7,0
7,7,Evanston,11624,29,0,21,1,7,183,22,152,9,1
8,8,Evansville,2977,7,0,0,3,4,73,13,52,8,0
9,9,Gillette,31960,43,1,9,0,33,626,62,529,35,2
10,10,Glenrock,2544,3,0,0,0,3,20,1,18,1,0
11,11,Green River,11927,22,0,0,0,22,97,11,84,2,0
12,12,Greybull,1857,0,0,0,0,0,5,1,4,0,0
13,13,Hanna,766,0,0,0,0,0,1,0,0,1,0
14,14,Kemmerer,2745,1,0,0,0,1,8,0,8,0,0
15,15,Lander,7489,0,0,0,0,0,253,15,226,12,0
16,16,Laramie,32669,58,0,17,2,39,318,50,252,16,6
17,17,Lusk,1537,5,0,2,0,3,8,0,7,1,0
18,18,Mills,3975,3,0,0,2,1,71,22,39,10,4
19,19,Moorcroft,1068,1,0,0,0,1,4,2,1,1,0
20,20,Newcastle,3386,10,0,5,0,5,49,12,31,6,0
21,21,Pine Bluffs,1170,2,0,1,1,0,5,2,3,0,0
22,22,Powell,6310,22,0,12,0,10,76,12,58,6,2
23,23,Rawlins,8589,26,0,4,1,21,122,31,84,7,0
24,24,Riverton,11004,38,3,19,1,15,426,52,332,42,6
25,25,Rock Springs,23092,44,0,14,1,29,309,36,259,14,1
26,26,Saratoga,1615,1,0,0,0,1,6,1,4,1,0
27,27,Sheridan,17895,9,0,4,0,5,369,75,278,16,3
28,28,Thermopolis,2830,13,0,0,0,13,34,7,22,5,0
29,29,Torrington,6709,13,0,4,1,8,48,8,40,0,0
30,30,Wheatland,3544,7,0,1,0,6,72,24,45,3,0
31,31,Worland,5026,8,0,5,0,3,36,6,30,0,0

In [7]:
def get_coordinates(city_list):
    """Takes a list of cities and returns a dictionary of the cities and their corresponding coordinates."""
    geolocator = Nominatim(user_agent='location script')
    dicto = {}
    
    for city in city_list:
        try:
            location = geolocator.geocode(city)
        except:
            raise Exception("There was a problem with the getCoordinates function")
        coordinate_values = (location.longitude, location.latitude)  #in geopandas, the x value corresponds to the longitude while the y value, the latitude(Just in case you were wondering why it was *location.longitude, location.latitude* and not the other way round )
        dicto[city] = coordinate_values #adding the coordinate pair to the dictionary at the end of every loop
    return dicto #finally retruns the dict

In [8]:
#getting coordinates for each city in the list
city_coords_dict = get_coordinates(city_list)
city_coords_dict

{'Afton': (-92.7835373, 44.9027452),
 'Buffalo': (-78.8783922, 42.8867166),
 'Casper': (-106.325138, 42.8501191),
 'Cheyenne': (-104.820246, 41.139981),
 'Cody': (-109.056392, 44.5263107),
 'Diamondville': (-110.538502, 41.7793918),
 'Douglas': (-88.2170516, 39.7628415),
 'Evanston': (-87.6930459, 42.0447388),
 'Evansville': (-87.5558483, 37.9747645),
 'Gillette': (-105.501876, 44.290635),
 'Glenrock': (-105.8720412, 42.8614825),
 'Green River': (-109.466473, 41.5290933),
 'Greybull': (-108.0554209, 44.488924),
 'Hanna': (-111.927479, 51.6445566),
 'Kemmerer': (-110.537711, 41.7924606),
 'Lander': (-116.9843374, 39.9059878),
 'Laramie': (-105.591101, 41.311367),
 'Lusk': (-104.452175, 42.762467),
 'Mills': (-98.5527272, 31.4861082),
 'Moorcroft': (-104.950252, 44.263315),
 'Newcastle': (-1.6131572, 54.9738474),
 'Pine Bluffs': (-104.066339, 41.18032),
 'Powell': (-113.0294193, 46.9109569),
 'Rawlins': (-101.0994722, 39.7904797),
 'Riverton': (-95.568169, 40.6870011),
 'Rock Springs': (-109.2194544, 41.5860557),
 'Saratoga': (-122.0230146, 37.2638324),
 'Sheridan': (-100.4576457, 39.3530598),
 'Thermopolis': (-108.212043, 43.646067),
 'Torrington': (-73.1212214, 41.8006523),
 'Wheatland': (-109.8498047, 46.4335302),
 'Worland': (-107.9557722, 44.0168463)}

In [9]:
len(city_coords_dict)

32

In [10]:
df.head()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,0,Afton,2017,0,0,0,0,0,12,1,11,0,0
1,1,Buffalo,4571,8,0,1,0,7,52,13,30,9,0
2,2,Casper,57752,169,2,58,18,91,1677,285,1271,121,2
3,3,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11
4,4,Cody,9865,17,0,7,1,9,107,10,94,3,2

In [11]:
# crime rate per 100,000 is made as follows:
#(crime volume / population) * 100,000

#### 1. Add a total crime column

In [12]:
df['total_crime'] = df.sum(axis=1)

In [13]:
df.head()

,Unnamed: 0,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson,total_crime
0,0,Afton,2017,0,0,0,0,0,12,1,11,0,0,2041
1,1,Buffalo,4571,8,0,1,0,7,52,13,30,9,0,4692
2,2,Casper,57752,169,2,58,18,91,1677,285,1271,121,2,61448
3,3,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11,68953
4,4,Cody,9865,17,0,7,1,9,107,10,94,3,2,10119

#### 2. Making a new data frame that has only the neccesary columns for further operations

In [14]:
new_df = df.filter(['city','total_crime','population'], axis=1)
new_df

            city  total_crime  population
0          Afton         2041        2017
1        Buffalo         4692        4571
2         Casper        61448       57752
3       Cheyenne        68953       64501
4           Cody        10119        9865
5   Diamondville          765         756
6        Douglas         6490        6294
7       Evanston        12056       11624
8     Evansville         3145        2977
9       Gillette        33309       31960
10      Glenrock         2600        2544
11   Green River        12176       11927
12      Greybull         1879        1857
13         Hanna          781         766
14      Kemmerer         2777        2745
15        Lander         8010        7489
16       Laramie        33443       32669
17          Lusk         1580        1537
18         Mills         4145        3975
19     Moorcroft         1097        1068
20     Newcastle         3524        3386
21   Pine Bluffs         1205        1170
22        Powell         6530        6310
23       Rawlins         8908        8589
24      Riverton        11962       11004
25  Rock Springs        23824       23092
26      Saratoga         1655        1615
27      Sheridan        18681       17895
28   Thermopolis         2952        2830
29    Torrington         6860        6709
30     Wheatland         3732        3544
31       Worland         5145        5026

### 3.  Add a column of the crime rate severity via (total crime / population)

In [15]:
new_df['crime_index'] = (new_df['total_crime'] / new_df['population'])

In [16]:
new_df.round(5)

            city  total_crime  population  crime_index
0          Afton         2041        2017      1.01190
1        Buffalo         4692        4571      1.02647
2         Casper        61448       57752      1.06400
3       Cheyenne        68953       64501      1.06902
4           Cody        10119        9865      1.02575
5   Diamondville          765         756      1.01190
6        Douglas         6490        6294      1.03114
7       Evanston        12056       11624      1.03716
8     Evansville         3145        2977      1.05643
9       Gillette        33309       31960      1.04221
10      Glenrock         2600        2544      1.02201
11   Green River        12176       11927      1.02088
12      Greybull         1879        1857      1.01185
13         Hanna          781         766      1.01958
14      Kemmerer         2777        2745      1.01166
15        Lander         8010        7489      1.06957
16       Laramie        33443       32669      1.02369
17          Lusk         1580        1537      1.02798
18         Mills         4145        3975      1.04277
19     Moorcroft         1097        1068      1.02715
20     Newcastle         3524        3386      1.04076
21   Pine Bluffs         1205        1170      1.02991
22        Powell         6530        6310      1.03487
23       Rawlins         8908        8589      1.03714
24      Riverton        11962       11004      1.08706
25  Rock Springs        23824       23092      1.03170
26      Saratoga         1655        1615      1.02477
27      Sheridan        18681       17895      1.04392
28   Thermopolis         2952        2830      1.04311
29    Torrington         6860        6709      1.02251
30     Wheatland         3732        3544      1.05305
31       Worland         5145        5026      1.02368

#### Next step is to create a final dataframe with following columns:
#### LATITUDE, LONGTITUDE, CRIME_INDEX

In [17]:
#lets make the coordinates dictionary into dataframe and orient it for
#latitudes and longitudes
coords_df = pd.DataFrame.from_dict(city_coords_dict, orient='index')
coords_df

                       0          1
Afton         -92.783537  44.902745
Buffalo       -78.878392  42.886717
Casper       -106.325138  42.850119
Cheyenne     -104.820246  41.139981
Cody         -109.056392  44.526311
Diamondville -110.538502  41.779392
Douglas       -88.217052  39.762842
Evanston      -87.693046  42.044739
Evansville    -87.555848  37.974764
Gillette     -105.501876  44.290635
Glenrock     -105.872041  42.861483
Green River  -109.466473  41.529093
Greybull     -108.055421  44.488924
Hanna        -111.927479  51.644557
Kemmerer     -110.537711  41.792461
Lander       -116.984337  39.905988
Laramie      -105.591101  41.311367
Lusk         -104.452175  42.762467
Mills         -98.552727  31.486108
Moorcroft    -104.950252  44.263315
Newcastle      -1.613157  54.973847
Pine Bluffs  -104.066339  41.180320
Powell       -113.029419  46.910957
Rawlins      -101.099472  39.790480
Riverton      -95.568169  40.687001
Rock Springs -109.219454  41.586056
Saratoga     -122.023015  37.263832
Sheridan     -100.457646  39.353060
Thermopolis  -108.212043  43.646067
Torrington    -73.121221  41.800652
Wheatland    -109.849805  46.433530
Worland      -107.955772  44.016846

In [18]:
coords_df.rename(columns={0: 'latitude', 1: 'longitude'}, inplace=True)

In [19]:
coords_df

                latitude  longitude
Afton         -92.783537  44.902745
Buffalo       -78.878392  42.886717
Casper       -106.325138  42.850119
Cheyenne     -104.820246  41.139981
Cody         -109.056392  44.526311
Diamondville -110.538502  41.779392
Douglas       -88.217052  39.762842
Evanston      -87.693046  42.044739
Evansville    -87.555848  37.974764
Gillette     -105.501876  44.290635
Glenrock     -105.872041  42.861483
Green River  -109.466473  41.529093
Greybull     -108.055421  44.488924
Hanna        -111.927479  51.644557
Kemmerer     -110.537711  41.792461
Lander       -116.984337  39.905988
Laramie      -105.591101  41.311367
Lusk         -104.452175  42.762467
Mills         -98.552727  31.486108
Moorcroft    -104.950252  44.263315
Newcastle      -1.613157  54.973847
Pine Bluffs  -104.066339  41.180320
Powell       -113.029419  46.910957
Rawlins      -101.099472  39.790480
Riverton      -95.568169  40.687001
Rock Springs -109.219454  41.586056
Saratoga     -122.023015  37.263832
Sheridan     -100.457646  39.353060
Thermopolis  -108.212043  43.646067
Torrington    -73.121221  41.800652
Wheatland    -109.849805  46.433530
Worland      -107.955772  44.016846

### join original dataframe row of 'crime_index' to new df of 'coordinates'

In [20]:
coords_df['crime_index'] = new_df['crime_index'].values

In [21]:
coords_df

                latitude  longitude  crime_index
Afton         -92.783537  44.902745     1.011899
Buffalo       -78.878392  42.886717     1.026471
Casper       -106.325138  42.850119     1.063998
Cheyenne     -104.820246  41.139981     1.069022
Cody         -109.056392  44.526311     1.025748
Diamondville -110.538502  41.779392     1.011905
Douglas       -88.217052  39.762842     1.031141
Evanston      -87.693046  42.044739     1.037164
Evansville    -87.555848  37.974764     1.056433
Gillette     -105.501876  44.290635     1.042209
Glenrock     -105.872041  42.861483     1.022013
Green River  -109.466473  41.529093     1.020877
Greybull     -108.055421  44.488924     1.011847
Hanna        -111.927479  51.644557     1.019582
Kemmerer     -110.537711  41.792461     1.011658
Lander       -116.984337  39.905988     1.069569
Laramie      -105.591101  41.311367     1.023692
Lusk         -104.452175  42.762467     1.027977
Mills         -98.552727  31.486108     1.042767
Moorcroft    -104.950252  44.263315     1.027154
Newcastle      -1.613157  54.973847     1.040756
Pine Bluffs  -104.066339  41.180320     1.029915
Powell       -113.029419  46.910957     1.034865
Rawlins      -101.099472  39.790480     1.037141
Riverton      -95.568169  40.687001     1.087059
Rock Springs -109.219454  41.586056     1.031699
Saratoga     -122.023015  37.263832     1.024768
Sheridan     -100.457646  39.353060     1.043923
Thermopolis  -108.212043  43.646067     1.043110
Torrington    -73.121221  41.800652     1.022507
Wheatland    -109.849805  46.433530     1.053047
Worland      -107.955772  44.016846     1.023677

In [22]:
coords_df.insert(0, 'state', 'wy')
coords_df

             state    latitude  longitude  crime_index
Afton           wy  -92.783537  44.902745     1.011899
Buffalo         wy  -78.878392  42.886717     1.026471
Casper          wy -106.325138  42.850119     1.063998
Cheyenne        wy -104.820246  41.139981     1.069022
Cody            wy -109.056392  44.526311     1.025748
Diamondville    wy -110.538502  41.779392     1.011905
Douglas         wy  -88.217052  39.762842     1.031141
Evanston        wy  -87.693046  42.044739     1.037164
Evansville      wy  -87.555848  37.974764     1.056433
Gillette        wy -105.501876  44.290635     1.042209
Glenrock        wy -105.872041  42.861483     1.022013
Green River     wy -109.466473  41.529093     1.020877
Greybull        wy -108.055421  44.488924     1.011847
Hanna           wy -111.927479  51.644557     1.019582
Kemmerer        wy -110.537711  41.792461     1.011658
Lander          wy -116.984337  39.905988     1.069569
Laramie         wy -105.591101  41.311367     1.023692
Lusk            wy -104.452175  42.762467     1.027977
Mills           wy  -98.552727  31.486108     1.042767
Moorcroft       wy -104.950252  44.263315     1.027154
Newcastle       wy   -1.613157  54.973847     1.040756
Pine Bluffs     wy -104.066339  41.180320     1.029915
Powell          wy -113.029419  46.910957     1.034865
Rawlins         wy -101.099472  39.790480     1.037141
Riverton        wy  -95.568169  40.687001     1.087059
Rock Springs    wy -109.219454  41.586056     1.031699
Saratoga        wy -122.023015  37.263832     1.024768
Sheridan        wy -100.457646  39.353060     1.043923
Thermopolis     wy -108.212043  43.646067     1.043110
Torrington      wy  -73.121221  41.800652     1.022507
Wheatland       wy -109.849805  46.433530     1.053047
Worland         wy -107.955772  44.016846     1.023677

In [23]:
path = '/Users/pauliuskomskis/Desktop/github/greenzone/state-by-state-coords/'
coords_df.to_csv(path+'wyoming-final.csv')