In [406]:
import pandas as pd

In [551]:
read_file = pd.read_excel (r'/Users/pauliuskomskis/Downloads/wisconsin.xls')
read_file.to_csv (r'/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/west_virginia.csv')
df = pd.read_csv('/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/west_virginia.csv')
print('Excel to CSV conversion Success')
df
df.columns = df.iloc[3] # taking 3rd row and making it column headers
df.drop(df.index[3]) # deleting the 3rd row from df
df = df.dropna() # dropping NaN value rows/data
df.drop(df.iloc[:,:1], inplace = True, axis = 1) # droping the firs row as it is a duplicate of headers
df.set_index('City')
df = df.drop(df.index[0]) # dropping a duplicate column
df.reset_index(drop=True)

Excel to CSV conversion Success

3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Charles Town,6171,9,1,1,4,3,75,30,43,2,0
1,Glen Dale,1375,1,0,1,0,0,16,6,9,1,0
2,Huntington,45675,330,4,56,59,211,1792,456,1147,189,21
3,Lewisburg,3830,3,0,0,0,3,81,1,79,1,1
4,Milton,2588,9,0,0,3,6,69,13,54,2,0
5,Moorefield,2418,24,1,1,1,21,153,5,145,3,0
6,Morgantown,31281,67,0,9,5,53,489,71,383,35,1
7,Moundsville,8323,29,0,8,0,21,103,0,103,0,0
8,New Martinsville,5114,2,0,0,0,2,14,5,7,2,0
9,Nitro,6406,15,0,0,1,14,220,20,187,13,0
10,Oak Hill,8140,5,2,1,0,2,14,0,14,0,0
11,Ranson,5288,8,0,1,1,6,76,11,64,1,1
12,Ronceverte,1674,2,0,0,0,2,13,2,9,2,0
13,St. Albans,9956,33,2,2,1,28,304,59,227,18,1
14,Summersville,3292,1,0,0,0,1,107,4,100,3,0
15,Weirton,18296,11,0,1,0,10,88,2,84,2,1
16,Wellsburg,2531,1,0,0,0,1,17,1,14,2,0
17,Weston,3887,4,0,0,0,4,2,0,1,1,0
18,White Sulphur Springs,2395,5,0,2,1,2,12,3,8,1,0
19,Williamson,2694,6,0,0,0,6,2,0,2,0,1
20,Winfield,2378,0,0,0,0,0,12,0,11,1,0

In [552]:
df

3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
4,Charles Town,6171,9,1,1,4,3,75,30,43,2,0
5,Glen Dale,1375,1,0,1,0,0,16,6,9,1,0
6,Huntington,45675,330,4,56,59,211,1792,456,1147,189,21
7,Lewisburg,3830,3,0,0,0,3,81,1,79,1,1
8,Milton,2588,9,0,0,3,6,69,13,54,2,0
9,Moorefield,2418,24,1,1,1,21,153,5,145,3,0
10,Morgantown,31281,67,0,9,5,53,489,71,383,35,1
11,Moundsville,8323,29,0,8,0,21,103,0,103,0,0
12,New Martinsville,5114,2,0,0,0,2,14,5,7,2,0
13,Nitro,6406,15,0,0,1,14,220,20,187,13,0
14,Oak Hill,8140,5,2,1,0,2,14,0,14,0,0
15,Ranson,5288,8,0,1,1,6,76,11,64,1,1
16,Ronceverte,1674,2,0,0,0,2,13,2,9,2,0
17,St. Albans,9956,33,2,2,1,28,304,59,227,18,1
18,Summersville,3292,1,0,0,0,1,107,4,100,3,0
19,Weirton,18296,11,0,1,0,10,88,2,84,2,1
20,Wellsburg,2531,1,0,0,0,1,17,1,14,2,0
21,Weston,3887,4,0,0,0,4,2,0,1,1,0
22,White Sulphur Springs,2395,5,0,2,1,2,12,3,8,1,0
23,Williamson,2694,6,0,0,0,6,2,0,2,0,1
24,Winfield,2378,0,0,0,0,0,12,0,11,1,0

In [553]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter', 'Rape1', 'Robbery',
       'Aggravated\nassault', 'Property\ncrime', 'Burglary', 'Larceny-\ntheft',
       'Motor\nvehicle\ntheft', 'Arson'],
      dtype='object', name=3)

In [554]:
df.rename(columns={'City': 'city',
                  'Population': 'population',
                  'Violent\ncrime': 'violent_crime',
                  'Murder and\nnonnegligent\nmanslaughter': 'murder',
                  'Rape1': 'rape',
                  'Robbery': 'robbery',
                  'Aggravated\nassault': 'assault',
                  'Property\ncrime': 'property_crime',
                  'Burglary': 'burglary',
                  'Larceny-\ntheft': 'larceny',
                  'Motor\nvehicle\ntheft': 'gta',
                  'Arson': 'arson'}, inplace=True)
df.reset_index(drop=True, inplace=True)

In [555]:
df

3,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,Charles Town,6171,9,1,1,4,3,75,30,43,2,0
1,Glen Dale,1375,1,0,1,0,0,16,6,9,1,0
2,Huntington,45675,330,4,56,59,211,1792,456,1147,189,21
3,Lewisburg,3830,3,0,0,0,3,81,1,79,1,1
4,Milton,2588,9,0,0,3,6,69,13,54,2,0
5,Moorefield,2418,24,1,1,1,21,153,5,145,3,0
6,Morgantown,31281,67,0,9,5,53,489,71,383,35,1
7,Moundsville,8323,29,0,8,0,21,103,0,103,0,0
8,New Martinsville,5114,2,0,0,0,2,14,5,7,2,0
9,Nitro,6406,15,0,0,1,14,220,20,187,13,0
10,Oak Hill,8140,5,2,1,0,2,14,0,14,0,0
11,Ranson,5288,8,0,1,1,6,76,11,64,1,1
12,Ronceverte,1674,2,0,0,0,2,13,2,9,2,0
13,St. Albans,9956,33,2,2,1,28,304,59,227,18,1
14,Summersville,3292,1,0,0,0,1,107,4,100,3,0
15,Weirton,18296,11,0,1,0,10,88,2,84,2,1
16,Wellsburg,2531,1,0,0,0,1,17,1,14,2,0
17,Weston,3887,4,0,0,0,4,2,0,1,1,0
18,White Sulphur Springs,2395,5,0,2,1,2,12,3,8,1,0
19,Williamson,2694,6,0,0,0,6,2,0,2,0,1
20,Winfield,2378,0,0,0,0,0,12,0,11,1,0

In [556]:
# df['city'].replace(['Aitkin3'], 'Aitkin', inplace=True)

In [557]:
df.to_csv('/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/west_virginia-clean.csv')